# ── Server ──────────────────────────────────────────────
PORT=3000
NODE_ENV=development

# ── Database (MONGODB_URI) ───────
MONGODB_URI=mongodb://localhost:27017/pawcare_db

# ── Auth ────────────────────────────────────────────────
JWT_SECRET=(jwtkey)

# ── Client ──────────────────────────────────────────────
CLIENT_URL=http://localhost:3000

# ── Email (Nodemailer) ─────────────────────────────────
EMAIL_USER=""
EMAIL_PASS=""
